html{
    scroll-behavior:smooth;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0;
    line-height: 1.5;
    background-color: #2a2a2a;
    color: aliceblue;
}

header {
    display: flex;
    flex-direction: row;
    padding: 1.3ch;
    align-items: center;
    position: sticky;
    top: 0px;
    background-image: linear-gradient(to right, #2a2a2a, #414040, #2a2a2a);
}

header p {
    margin: 0;
    margin-left: 1.3ch;
}

header a {
    color: inherit;
    text-decoration: none;
    padding: 7px 15px;
    margin: 0;
    margin-left: 5px;
    border-radius: 5px;
    transition: linear .1s;
}

header a:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

header div:first-child {
    height: 40px;
}

hr {
    margin: 0;
}

/*Grid for page (mobile) */
@media only screen and (max-width: 460px) {
    .header_hide {
        display: none;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "account     "
                             "options     "
                             "frime       "
                             "more        "
                             "additionally";
    }
}

.main {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    grid-template-areas: "account        "
                         "options        "
                         "frime          "
                         "more           ";
    gap: 2ch;
    padding: 2ch;
}

.more {
    grid-area: more;
}

.content1 {
    grid-area: content1;
}

.content2 {
    grid-area: content2;
}

.content3 {
    grid-area: content3;
}

.header {
    padding: 1ch;
    background-color: rgb(229, 117, 110);
    text-align: center;
    padding: 0;
}

.header h2 {
    display: block;
    padding: 2ch 0;
    margin: 0;
}

.block_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
    justify-content: space-evenly;
    padding-bottom: 2ch;
}

.block {
    padding: 1ch;
    border-radius: 1ch;
    background-color: #2a2a2a;
    text-align: center;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    min-width: 30ch;
}

.account {
    grid-area: account;
}

h2, p, .account div {
    margin: 0;
}

h2 {
    padding-bottom: 1.5ch;
}

.account p {
    padding-bottom: 5px;
}

.options > p {
    padding-bottom: 10px;
}

.box {
    text-align: center;
    background-image: radial-gradient(circle farthest-corner at 50% 20%, #393939, #2a2a2a);
    border: 2px solid  rgba(255, 255, 255, 0.7);
    border-radius: 2ch;
    padding: 1ch;
}

input, button {
    color: aliceblue;
    background-color: rgb(90, 90, 90);

    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 1ch;

    padding: 5px;
    width: 100%;

    box-sizing: border-box;
    cursor: pointer;
    transition: linear .3s;
}

.account button {
    margin-top: 1ch;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:hover, button:hover, input:focus, button:focus {
    background-color: rgb(110, 110, 110);
    border: 1px solid #6CCF65;
}

.buy {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
}

.buy p {
    margin: auto 0;
}

.last_buy {
   grid-column: span 2;
}

a, a:hover, a:visited, a:active {
    color:rgba(255, 255, 255, 0.7);
}

.options a {
    color: #FFF;
    text-decoration: none;
    grid-area: options;
}

.color_soft {
    color: rgba(255, 255, 255, 0.7);
}

output, .output {
    color: rgb(229, 117, 110);
}


h2 {
    letter-spacing: 0.25em;
}

.h_spacer {
    height: 3ch;
}
